<div class="filters-wrapper">
  <app-search-form (search)="onSearch($event)" (clear)="onClearFilters()"></app-search-form>
  <br>
  <div class="upload-toggle-wrapper">
    <button class="toggle-upload mat-stroked-button" (click)="showUpload = !showUpload">
      <span class="toggle-text">Upload Logs</span>
      <mat-icon style="vertical-align: middle;">{{ showUpload ? 'expand_less' : 'expand_more' }}</mat-icon>
    </button>
  </div>

  <!-- Upload Area -->
  <div *ngIf="showUpload" class="upload-box">
      <label for="fileInput" class="choose-button mat-stroked-button">
        Choose Log File
      </label>
      <input id="fileInput" type="file" (change)="onFileSelected($event)" accept=".txt" hidden />
      <button mat-raised-button color="primary" (click)="uploadSelectedFile()" [hidden]="!selectedFile">
        <span class="upload-btn-content">Upload {{ selectedFile?.name }}</span>
      </button>
  </div>

</div>

<div *ngIf="isLoading()" class="loader-wrapper">
  <mat-progress-spinner mode="indeterminate" diameter="40"></mat-progress-spinner>
</div>

<div *ngIf="logs.length > 0; else noData">
  <app-logs-table
    [logs]="logs"
    [page]="currentPage()"
    [limit]="currentLimit()"
    [total]="total"
    (paginationChange)="onPaginationChange($event)"
    (sortChange)="onSortChange($event)"
  ></app-logs-table>
  <button mat-raised-button color="primary" (click)="downloadCsv()" type="button" class="download-csv-button">
    Download as CSV
  </button>
</div>

<ng-template #noData>
  <p style="padding: 1rem;">No logs to display. Try searching.</p>
</ng-template>
